.ant-form-item {
    // margin-bottom: 30px;

    .ant-form-item-explain-error {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.ant-form-item-label {
    label {
        font-size: 24px !important;
        font-weight: 500 !important;
    }
}

.ant-form-item-required {
    &::before {
        display: none !important;
    }

    &::after {
        content: '*' !important;
        color: red;
        margin-left: 4px !important;
        visibility: visible !important;
    }
}

.ant-input::placeholder {
    color: #929292;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

//Custom remove border in input when addonBefore & addonAfter
.ant-input,
.ant-input-outlined,
.ant-input-password {
    &:hover,
    &:focus-within {
        // border-color: #04a786;
        border: none;
        box-shadow: none;
        border-radius: 48px;
    }
}

.ant-input{
    border: none;
    border-radius: 48px;
}

.ant-input-group-wrapper-outlined .ant-input-group-addon {
    border: none;
    background: none;
}

.ant-input-group-addon + .ant-input-outlined,
.ant-input-outlined ~ .ant-input-group-addon {
    border: none;
}

.ant-input-outlined:focus.ant-input-outlined:focus-within {
    box-shadow: none;
}
